@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    border: none;
    font-family: "Roboto", "sans serif";
    box-sizing: border-box;

  

}
body{

    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    background: url(hero-bg.jpg) center/cover, #000;

}

.container{
    width: 400px;
    border-radius: 8px;
    padding: 30px;
    text-align: center;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(9px);
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.titulo{    
    font-size: 26px;
    margin-bottom: 20px;
    color: #000;
}

.labelForm {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #000;
}

.inputForm {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: rgba(255, 255, 255, 0.1); 
    color: #FFF;
    font-size: 16px;
    outline: none;
    border-radius: 5px; 
    text-align: center;
}


::placeholder{
    color: #FFF;
    font-size: 16px;
    text-align: center;
}

a{
    display: block;
    color: #efefef;
    text-decoration: none;
    margin-top: 10px;
}

a:hover{
    text-decoration: underline;

}

button{
    width: 100%;
    padding: 12px;
    background: #FFF;
    color: #000;
    font-weight: 700;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;   
}

button:hover{
    background: rgba(255, 255, 255, 0.2);
    color: #FFF;
    transition: 0.5s;
}

.cadastro{
    margin: 20px;
    color: #FFF;
    text-align: center;
}
.cadastro a{
    color: #efefef;
}